MYSQL_ROOT_PASSWORD=*******
MYSQL_DATABASE=wordpress
MYSQL_USER=*******
MYSQL_PASSWORD=*******
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=*******
WORDPRESS_DB_PASSWORD=*******
WORDPRESS_DB_NAME=wordpress
